// .action-sheet-backdrop {
//     position: fixed;
//     // top: 0;
//     left: 0;
//     width: 100%;
//     // height: 100%;
//     background-color: rgba(0, 0, 0, 0.9); /* Black with 0.6 opacity */
//     z-index: 9998; /* Ensure it's below the action sheet */
//     // background-color: transparent; 
//   }
  
  .action-sheet-container {

    width: 100%;
    z-index: 9999; /* Ensure it's on top of everything */
    padding: 20px; 
    margin-bottom: 200px;
  }
  
  .action-sheet-options{
    background-color: white;
    // border: 1px solid red;
    border-radius: 8px;
    
  }
  
  .action-sheet-option{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
   
    img{
      width: 25px;
      margin-left: 20px;
      margin-right: 20px;
    }
    p{
      color: #99a6b8;
    }
  
  }
  .action-sheet-option:not(:last-child) {
    border-bottom: 1px solid #e3e2e2; 
  }
  
  .action-sheet-container p {
    margin-bottom: 10px;
    text-align: center; /* Example: Center align heading */
  }
  
  .action-sheet-cancel-btn{
    display: block;
    margin: 0 auto; /* Example: Center align button */
    background-color: white;
    width: 100%;
    margin-top: 10px;
    height: 40px;
    border-radius: 8px;
    color: #99a6b8;
    text-transform: uppercase;
    margin-bottom: 220px;
  }
  
  .divider {
    height: 1px;
    background-color: #959ba2;
    margin: 5px 0;
  }
  
  
  
  
    