

.action-sheet-container {
  width: 100%;
  z-index: 9999;
  /* Ensure it's on top of everything */
  // padding: 20px;
  margin-top: auto;
}

.action-sheet-options {
  background-color: white;
  // border: 1px solid red;
  border-radius: 8px;

}

.action-sheet-option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;

  i {
    // width: 25px;
    font-size: 32px;
    margin-left: 20px;
    margin-right: 20px;
  }
  p {
    color: #99a6b8;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 21.09px;
  }


}

.action-sheet-option:not(:last-child) {
  border-bottom: 1px solid #ECF0F3;
}

.action-sheet-container p {
  margin-bottom: 10px;
  text-align: center;
  /* Example: Center align heading */
}

.action-sheet-cancel-btn {
  display: block;
  margin: 0 auto;
  /* Example: Center align button */
  background-color: white;
  width: 100%;
  margin-top: 10px;
  height: 40px;
  border-radius: 8px;
  color: #99a6b8;
  color: #99a6b8;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
  line-height: 21.09px;
}

// .divider {
//   height: 1px;
//  background-color: #ECF0F3;
//   margin: 5px 0;
// }