.calendar-container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
  // border: 10px solid rgb(128, 0, 0);
  margin-top: 38px;
  margin-bottom: 200px;
}

.month {
  // border: 1px solid #7b4aff;
  // margin: 10px;
  // padding: 10px;
  width: 100%;
  /* Ensure month divs take full width available */
  margin-bottom: 20px;
}

.month-name {
  font-weight: bold;
  text-align: center;
  // border: 1px solid blue;
  font-family: Inter;
  font-size: 20px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  color: var(--Gray-500, #667085);
  // border: 1px solid pink;

}

.week-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;

  p {
    font-family: Inter;
    font-size: 18px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    color: var(--Gray-500, #667085);
    width: 48px;
    height: 48px;
    // border: 1px solid red;

  }
}

.days {
  // display: flex;
  // flex-wrap: wrap;
  // border: 1px solid pink;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  // border: 1px solid pink;
}

.day {
  width: 100%;
  height: 48px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  color: var(--Gray-500, #667085);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  /* Needed for positioning the pseudo-element */
}

/* Add a dot below the day number */
// .day.markedDate::after {
//   content: ''; /* Empty content for the pseudo-element */
//   display: block;
//   width: 8px; /* Diameter of the dot */
//   height: 8px; /* Diameter of the dot */
//   border-radius: 50%; /* Make it a circle */
//   background-color: red; /* Color of the dot */
//   position: absolute; /* Position it absolutely within the .day element */
//   bottom: 8px; /* Distance from the bottom */
//   left: 50%; /* Center it horizontally */
//   transform: translateX(-50%); /* Adjust for horizontal centering */
// }

.empty {
  visibility: hidden;
  /* Hide empty cells */
  background-color: #ddd;
}

.full-width-button {
  width: 100%;
  position: fixed;
  /* Make sure button stays at the bottom */
  bottom: 0;
  left: 0;
  z-index: 10;
  /* Ensure button is on top of other content */
  width: Fixed (344px)px;
  height: 48px;
  padding: 12px 24px 12px 24px;
  // gap: 10px;
  // border-radius: 16px 0px 0px 0px;
  opacity: 0px;
  background: #0A0A0A;
  color: white;
  border-radius: 16px;
  color: var(--Gray-palette-Gray10, var(--White, #FFF));
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  /* 150% */
}

.selected {
  background-color: rgb(232, 247, 247);
  border-radius: 24px;
}

.inRange {
  background-color: rgb(232, 247, 247);
  border-radius: 0px;
}

.isStart {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
  background-color: #00abec;
  color: white;
}

.isEnd {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
  background-color: #00abec;
  color: white;
}

.day.single {
  border-radius: 50%;
  background-color: #00abec;
  color: white;
}

.button-container{
  width: 100%;
 padding: 30px;
 margin: 10px;
 border: 10px solid green;
}

.day.markedDate {
  background-color: #ffcc00;
  /* Highlight color for marked dates */
  border-radius: 50%;
  color: #000;
}