<div class="calendar-container">
  <div class="month-container" *ngFor="let monthKey of getMonthKeys()">
    <div class="month" [attr.id]="getMonthKey(months[monthKey].year, months[monthKey].monthName)">
      <div class="month-name">
        {{ months[monthKey]?.monthName }} {{ months[monthKey]?.year }}
      </div>
      <div class="week-days">
        <div>
          <p>S</p>
        </div>
        <div>
          <p>M</p>
        </div>
        <div>
          <p>T</p>
        </div>
        <div>
          <p>W</p>
        </div>
        <div>
          <p>T</p>
        </div>
        <div>
          <p>F</p>
        </div>
        <div>
          <p>S</p>
        </div>
      </div>
      <div class="days">
        <div *ngFor="let day of months[monthKey]?.days" class="day" [class.empty]="day === null"
          [class.selected]="isSelected(day, monthKey)" [class.inRange]="isRange && isDateInRange(day, monthKey)"
          [class.isStart]="isRange && isStart(day, monthKey)" [class.isEnd]="isRange && isEnd(day, monthKey)"
          [class.single]="!isRange && isSingleSelection(day, monthKey)" [class.markedDate]="isDateMarked(day, monthKey)"
          (click)="selectDate(day, monthKey)">
          {{ day !== null ? day : '' }}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Full-width button at the bottom -->
<div class="button-container">
  <button class="full-width-button" (click)="onSelectButtonClick()">
    Select
  </button>
</div>