
<div class="personal-details">
  <div class="identification">
    <div>
      <img src="/assets/cpr.svg" alt="">
    </div>
    <div>
      <p>National Identity: ABC123456</p>
      <p>Passport Number: P1234567</p>
    </div>
  </div>
  
  <div class="personal-info">
    <p class="gender">Gender: Male</p>
    <p class="marital-status">Marital Status: Single</p>
  </div>
  
  <div class="nationality-dob">
    <p class="nationality">Nationality: American</p>
    <p class="date-of-birth">Date of Birth: January 1, 1990</p>
  </div>
  
  <div class="location-contact">
    <p class="current-location">Current Location: New York, USA</p>
    <p class="mobile">Mobile: +1 234 567 8901</p>
  </div>
</div>  










