// start background

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.segment-button-checked.md::part(native) {
  color: #00abec;
}

.background-img {
  position: fixed;
  /* or absolute if you want it to scroll with content */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/youcandoit3.png');
  /* Add your image URL */
  background-size: cover;
  /* Ensure the image covers the entire screen */
  background-position: center;
  /* Center the image */
  background-repeat: no-repeat;
  /* Prevent the image from repeating */
  z-index: -1;
  /* Place the image behind other content */
}

.blue-bar {
  background-color: #00abec;
  height: 50px;
  width: 100%;
}


.container {
  position: relative;
  padding: 20px;
  color: #92a0b3;
}


.background-img::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  /* Adjust color and transparency */
  z-index: -1;
  /* Place the overlay behind the content */
}

.search-segment-container {
  background-color: white;
  // width: 100vh;
  border-bottom: 1px solid #ecf0f3;
  padding: 0px 20px 0px 20px;
}

// end background

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 33px;
  margin-top: 22px;
  border-radius: 10px;
  padding: 4px;
  font-size: small;
  background-color: #ecf0f3;
  color: #91a0b3;
  gap: 6px;
  padding-left: 9px;
}

// start segment
.ion-segment {
  --background: white
}


ion-segment-button::part(indicator-background) {
  background: #00abec;
  --height: 90px;
}

ion-segment-button.md::part(native) {
  font-size: 10px;
  text-transform: none;
  // height: 62px;
  color: #92a0b3;
}



ion-segment-button.md::part(indicator-background) {
  height: px;
}

// end segment

// start buttons

.button-wrapper {
  display: flex;
  justify-content: space-between;
  /* Adjust spacing between buttons */
  // border: 1px solid #92a0b3;
  gap: 18px;
  margin-top: 17px;
  margin-bottom: 17px;

}

.filter-button,
.sort-button {
  padding: 0px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: #00abec;
  height: 37px;
  width: 100%;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 18.75px;

}

.button-wrapper button:active {
  background-color: #f0f0f0;
  /* Change to light gray on click */
}

//  end buttons

// start job container

.job-container {
  border: 1px solid #e8ecf0;
  padding: 7px;
  border-radius: 10px;
  background-color: white;
  padding-bottom: 3px;
  margin-bottom: 10px;

  // position: relative;
  .job-info {
    border-bottom: 1px solid #ecf0f3;
    color: #92a0b3;
    // display: flex;
    padding: 2px;
    // align-items: self-end;
    // justify-content: center;
    margin-bottom: 4px;
    padding-bottom: 8px;
    border: 1px solid red;
  }

  .job-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .box.job-icon {
    flex: 0 0 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* border: 1px solid #92a0b3; */
    display: flex;
    align-items: center;
    background-color: #eaebf0;
  }

  .employment-type,
  .vacancies,
  .date,
  .raised-by,
  .recruiter,
  .applied,
  .qualified,
  .shortlisted {
    color: #92a0b3;
    /* Adjust text color as needed */
    margin: 0px;
  }

  // employee
  .employee-info-container {
    display: flex;
    padding: 0px;
    align-items: center;
    justify-content: center;
    padding: 0px;
    margin: px;
    justify-content: center;
    justify-content: flex-end;
    justify-content: space-around;
    width: 100%;
    border-bottom: 1px solid #ecf0f3;
    margin-bottom: 3px;
    padding-bottom: 5px;
    gap: 9px;
  }

  .employee-info {
    display: flex;
    height: 42px;
    align-items: center;
    padding: 2px;
    gap: 5px;
    // flex-grow: 1;
    flex: 1;
    // border: 1px solid blueviolet;
  }

  .box {
    /* Optional: Add some styling to the boxes */
    // padding: 10px;
    width: 106px;
  }

  .box.img {
    /* Ensure the image box is sized appropriately */
    width: 30%;
    /* Adjust as needed */
    text-align: center;
    /* Center the image horizontally */
    width: 34.143px;
    height: 33.689px;
  }

  .box.img img {
    width: 100%;
    /* Ensure image fills the box */
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 50%;
    /* Make the image circular */
  }


  .name-role .role {
    font-weight: bold;
    margin: 0px;
    font-size: 12px;
    font-weight: normal;
  }

  .name-role .name {
    font-size: 14px;
    margin: 0px;
    font-weight: bold;
  }



  .btn {
    flex: 1;
    padding: 2px;
    border: none;
    color: #92a0b3;
    font-size: 10px;
    text-align: center;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid #92a0b3;
    padding: 2px;
    margin: 9px 3px 9px 3px;
  }
}





ion-fab {
  bottom: 0;
  right: 50%;
  transform: translate(50%, 50%);
  z-index: 100;
}

.fab-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.custom-fab-button {
  border-radius: 50%;
  /* Ensures the button is circular */
  box-shadow: 0px 4px 8px rgba(0, 171, 236, 0.5);
}

.salary-info-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
  flex-grow: 1;
  align-items: start;
  // 
  color: var(--RA-Gray-Gray, #92A0B3);
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  .box {
    display: flex;
    //  align-items: flex-start;
    // width: 100%;
    gap: 10px;
    // justify-content: flex-start;
    flex-grow: 1;
    // border: 1px solid red;
  }
}

.box.year-place {
  width: 65%;
  /* Adjust as needed */
  display: flex;
  width: 100%;
  flex-direction: column;
  font-size: 18px;
  gap: 5px;
}

.year-place .year {
  // font-weight: bold;
  margin: 0px;
  // font-size: 12px;
  // font-weight: normal;
  display: flex;
  // gap: 3px;
  color: var(--RA-Gray-Gray, #92A0B3);

  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  // line-height: normal;
  gap: 5px;
}

.year-place .place {
  font-size: 0.8em;
  margin: 0px;
  display: flex;
  gap: 5 px;
  // width: 140px;
  width: 100%;
}


.text-ellipsis {
  white-space: nowrap;
  /* Prevents the text from wrapping */
  overflow: hidden;
  /* Hides the overflowed text */
  text-overflow: ellipsis;
  /* Displays the ellipsis (...) */
}




.box.year-place {
  width: 100%;
  /* Or any specific width you need */
}

.box.year-place .place {
  max-width: 100%;
  /* Ensure the text container doesn't exceed its parent's width */
}

// end job container


// start cv-container
.cv-container {
  width: 100%;
  padding: 10px;
  border: 1px solid orange;
  overflow-y: scroll;
  height: 100vh;

  // start personal-profile
  .personal-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.7rem;
    // border: 1px solid #92a0b3;
    position: relative;

    .edit-button {
      position: absolute;
      top: 10px;
      z-index: 10;
      border-radius: 11px;
      right: 0px;
      width: 37px;
      height: 40px;
      background-color: #f6f8f9;
    }

    .profile-photo {
      width: 52px;
      height: 52px;
      border-radius: 50%;
      overflow: hidden;
      margin-bottom: 15px;

    }

    .profile-photo img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .profile-info {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .profile-name {
      font-size: 0.9rem;
      font-weight: bold;
      margin: 0px;
      color: #92a0b3;
    }

    .profile-role {
      font-size: 0.8rem;
      color: #92a0b3;
      margin: 0px;
      margin-top: 3px;
    }


  }

  // end personal-profile

  // start swiper css
  .personal-details {
    swiper-container {
      // border: 1px solid #92a0b3;
      height: 130px;
      margin-top: 12px;
      border-radius: 12px;
      background-color: #ecf0f3;
    }

    swiper-slide {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      // border: 3px solid red;
      // padding: 200px;
    }

    .content-box {
      display: flex;
      /* Use flexbox for layout */
      align-items: center;
      /* Center items vertically */
      width: 100%;
      /* Ensure full width */
    }

    .my-color {
      color: #92a0b3;
      font-weight: lighter;
      font-size: 20px;
    }

    .swiper-content {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px;
      margin-bottom: 10px;
      margin-top: 9px;

      .text-container p:first-of-type {
        font-weight: bolder;
        font-size: small;
      }

      .text-container p:last-of-type {
        font-weight: 500;
        font-size: small;
      }

    }

    .box {
      height: 45px;
      // border: 1px solid #92a0b3;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      /* margin-bottom: 0; */
      border-radius: 7px;
      margin-left: 4px;
      margin-right: 4px;
      margin-top: 7px;
      margin-bottom: 0px;
      background-color: white;
    }

    // Remove margin from the last box to avoid extra space at the bottom
    .swiper-content .box:last-child {
      margin-bottom: 20px; // Remove bottom margin for the last box
    }

    .box .icon-container {
      flex: 0 0 10%; // Takes up 30% of the width
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .box .text-container {
      flex: 1; // Takes up the remaining width
      padding: 0 10px; // Add padding if needed
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-left: 0px
    }

    .box p {
      margin: 0;
      color: #92a0b3; // Adjust color as needed
    }

    .divider {
      border-top: 1px solid #eaebf0; // Adjust color as needed
      margin: 20px 0; // Space above and below the line
      width: 100%; // Full width
    }

    .swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
      margin: 0 4px;
    }

    .swiper-pagination-bullet {
      margin: 0px 4px;
      border-radius: 3px;
      height: 6px;
      width: 13px;
      --bullet-background-active: var(--cloudBlue);
      --bullet-background: #b0b7bd;
      opacity: 1;
    }


    .swiper-pagination-bullet-active {
      background: var(--bullet-background-active);
    }
  }

  // end swiper 

  // start professional-summary
  .professional-summary {
    .title {
      color: var(--RA-Gray-Gray, #92A0B3);
      font-family: Roboto;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin: 0px;
    }

    .timeline-content {
      border-left: 1px solid #d5dcdf;
      margin-left: -5px;
      padding-left: 8px;
    }

    .timeline-item:last-child .timeline-content {
      border-left: none;
      /* Remove border for the last item */
    }

    /* General styles for the timeline */
    .timeline {
      // padding-left: 0px;
      // border: 1px solid red;
    }

    /* Style for each timeline item */
    .timeline-item {
      // border-left: 1px solid #ededee;
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      //  border-left: 1px solid green;
      // margin-left: -5px;
    }

    /* Style for the dot on the timeline */
    .timeline-dot {
      width: 10px;
      height: 10px;
      border-radius: 9999px;
      background-color: #d5dcdf;
      // margin-top: 4px;
    }

    /* Style for the time element */
    .timeline-date {
      color: var(--RA-Gray-Gray, #92A0B3);
      font-family: Roboto;
      font-size: 10px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0px 0px 5px 0px;
    }

    /* Style for the title */
    .timeline-title {
      color: var(--RA-Gray-Gray, #92A0B3);
      font-family: Roboto;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin: 0px 0px 5px 0px;
    }



    /* Style for the description */
    .timeline-description {
      color: var(--RA-Gray-Gray, #92A0B3);
      font-family: Roboto;
      font-size: 10px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      margin: 5px 0px 0px 0px;
    }
    .add-button {
      width: 100%;
      height: 30px;
      border-radius: 5px;
      border: 2px solid #bec6d1;
      color: #92a0b3;
      background-color: transparent;
      margin-top: 12px;
      font-family: Roboto;
      font-size: 12px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      transition: background-color 0.3s ease;
      /* Smooth transition effect */
    }

    .add-button:active {
      background-color: #e5e8eb;
      /* Temporary background color on click */
    }

  }

  // end professional-summary

}

// end cv-container



// start edit-container
.edit-container {
  width: 100%;
  padding: 10px;
  border: 1px solid orange;
  overflow-y: scroll;
  height: 100vh;

  .options {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    /* Gap between items */
    align-items: center;
  }

  .option {
    flex: 0 0 48%;
    /* Do not grow, do not shrink, and take 48% of the width */
    box-sizing: border-box;
    border: 1px solid #eaebef;

    background-color: #f2f3f7;
    cursor: pointer;
    border-radius: 9px;
    padding: 5px;
    color: #98a1b3;
    text-align: center;
  }

  .selected {
    background-color: #00abec;
    color: white;
    border: 1px solid #00abec;
    border-radius: 9px;
  }

  .edit-employee-container {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid red;

    .bordered-image {
      border: 1px solid #00abec;
    }

    .top-container {
      display: flex;
      justify-content: center;
      flex: 1 0 0;
      align-self: stretch;
      align-items: center;

      p {
        color: var(--RA-Gray-Gray, #92A0B3);

        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .title {
      p {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #E9EBF1;
        line-height: 0.1em;
        margin: 10px 0 20px;
        color: var(--RA-Gray-Gray, #92A0B3);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        // line-height: normal;
      }

      p span {
        background: #fff;
        padding: 0 10px;
      }

    }

    .container::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      border-top: 2px solid black;
      /* Border style */
      transform: translateY(-50%);
      /* Center the line vertically */
    }

    .top-container {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      color: #91a0b3;
    }

    .edit-button {
      background-color: #00abec;
      display: flex;
      padding: 10px 40px;
      align-items: flex-start;
      gap: 10px;
      width: 102px;
      height: 34px;
      border-radius: 5px;
      background: var(--Cloud-Blue-Primary-1, #29B8EF);
      color: white;
      justify-content: center;

      // p {
      //     color: #FFF;
      //     text-align: center;
      //     font-family: Roboto;
      //     font-size: 12px;
      //     font-style: normal;
      //     font-weight: 700;
      //     line-height: normal;
      // }

    }

    .edit-button:hover {
      background-color: #0091d0;
      /* Darker color on hover */
    }

    .employee-info {
      display: flex;
      height: 67px;
      align-items: center;
      // gap: 10px;
      flex-shrink: 0;
      align-self: stretch;
      // border: 1px solid red;
      justify-content: center;
      padding: 0px;
      // margin-bottom: 26px;

    }

    .box.icon {
      // border: 1px solid blue;
      display: flex;
      height: 67px;
      align-items: flex-start;
      gap: 10px;
      flex-shrink: 0;
      align-self: stretch;
      align-items: center;
      justify-content: center;
      padding-left: 14px;
    }

    .icon-style {
      width: 40px;
      height: 40px;
      font-size: 34px;
      color: #92A0B3;
    }

    .my-input {
      display: flex;
      height: 39.705px;
      padding: 10px;
      justify-content: center;
      // align-items: center;
      // gap: 10px;
      align-self: stretch;
      width: 100%;
      flex-direction: column;
    }

    .employee-info-items {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 26px;
    }

    .input-container {
      width: 330px;
      height: 67px;
    }

    .custom-inputsWrapper {
      // border :1px solid red;
      overflow: visible !important;
    }

    .custom-form-label {
      color: var(--RA-Gray-Gray, #92A0B3);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

  }
}

// end edit-container

// start add experience
.add-experience-container {
  width: 100%;
  padding: 10px;
  border: 1px solid orange;
  overflow-y: scroll;
  height: 100vh;
  // end edit-container


  .add-experience {
    background-color: white;
    display: flex;
    flex-direction: column;
    border: 1px solid red;

    .bordered-image {
      border: 1px solid #00abec;
    }

    .top-container {
      display: flex;
      justify-content: center;
      flex: 1 0 0;
      align-self: stretch;
      align-items: center;

      p {
        color: var(--RA-Gray-Gray, #92A0B3);

        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }

    .title {
      p {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #E9EBF1;
        line-height: 0.1em;
        margin: 10px 0 20px;
        color: var(--RA-Gray-Gray, #92A0B3);
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        // line-height: normal;
      }

      p span {
        background: #fff;
        padding: 0 10px;
      }

    }

    .container::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      border-top: 2px solid black;
      /* Border style */
      transform: translateY(-50%);
      /* Center the line vertically */
    }

    .top-container {
      display: flex;
      justify-content: space-between;
      padding: 10px;
      color: #91a0b3;
    }

    .add-experience-button {
      background-color: #00abec;
      display: flex;
      padding: 10px 40px;
      align-items: flex-start;
      gap: 10px;
      width: 102px;
      height: 34px;
      border-radius: 5px;
      background: var(--Cloud-Blue-Primary-1, #29B8EF);
      align-items: center;
      color: white;

      // p {
      //     color: #FFF;
      //     text-align: center;
      //     font-family: Roboto;
      //     font-size: 12px;
      //     font-style: normal;
      //     font-weight: 700;
      //     line-height: normal;
      // }

    }

    .add-experience-button:hover {
      background-color: #0091d0;
      /* Darker color on hover */
    }

    .employee-info {
      display: flex;
      height: 67px;
      align-items: center;
      // gap: 10px;
      flex-shrink: 0;
      align-self: stretch;
      // border: 1px solid red;
      justify-content: center;
      padding: 0px;
      // margin-bottom: 26px;

    }

    .box.icon {
      // border: 1px solid blue;
      display: flex;
      height: 67px;
      align-items: flex-start;
      gap: 10px;
      flex-shrink: 0;
      align-self: stretch;
      align-items: center;
      justify-content: center;
      padding-left: 14px;
    }

    .icon-style {
      width: 40px;
      height: 40px;
      font-size: 34px;
      color: #92A0B3;
    }

    .my-input {
      display: flex;
      height: 39.705px;
      padding: 10px;
      justify-content: center;
      // align-items: center;
      // gap: 10px;
      align-self: stretch;
      width: 100%;
      flex-direction: column;
    }

    .box.input-container.date {
      // border :1px solid rebeccapurple;
      display: flex;

      .my-input {
        // padding: 0px;
      }
    }

    .employee-info-items {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 26px;
    }

    .input-container {
      width: 100%;
      height: 67px;
    }

    .custom-inputsWrapper {
      // border :1px solid red;
      overflow: visible !important;
    }

    .custom-form-label {
      color: var(--RA-Gray-Gray, #92A0B3);
      font-family: Roboto;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
    }

    .isCurentCheck {
      border: 1px solid red;
    }
  }
}

// end add experience

/* Hide the default arrow */
ion-select .select-icon {
  display: none;
}



/* Change the background color of the ion-select item */
ion-item {
  --background: #ECF0F3;
  /* Light gray background color */
  border-radius: 16px;

}

/* Change the background color of the selected option */
ion-select {
  // --background: #f838bf; /* White background color for the select box */
  // border: 1px solid red;
  // display: flex;
  // align-items:flex-end;
  // justify-content: center;
  // border-radius: 10px;

}

ion-select icon {
  border: 1px solid green;
}

/* Optionally, you can also customize the color of the placeholder and selected value */
ion-select-placeholder {
  color: #fa2626;
  /* Placeholder color */

}

ion-select {
  --color: #34e6f3;
  /* Text color */
}

/* Style for ion-item to use flexbox for layout */
ion-item {
  --padding-start: 0;
  /* Remove padding on the start */
  --padding-end: 0;
  /* Remove padding on the end */
}

/* Style for ion-select */
ion-select {
  display: flex;
  justify-content: space-between;
  /* Space between placeholder text and icon */
  align-items: center;
  /* Center items vertically */
}

/* Style for placeholder text alignment */
ion-select::part(native) {
  text-align: left;
  /* Ensure placeholder text aligns to the left */
}

/* Hide default icon */
ion-select .select-icon {
  display: none;
  /* Hide the default icon */
}

/* Style for the toggle icon (caret) */
ion-select::part(icon) {
  font-size: 24px;
  /* Adjust size of the icon */
  color: #000;
  /* Adjust color of the icon */
  margin-left: 8px;
  /* Space between text and icon */
}

.noRecords {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #92A0B3;

  span {
    color: #92A0B3;
  }

  i {
    font-size: 200px;
  }
}

.custom-select .select-icon {
  color: #ff0000;
  /* Replace with your desired color */
}