<ion-app>

  <div class="ion-page" id="main-content">

    <ion-content [fullscreen]="true">
      <div class="image">
        <!-- <img src="/assets/youcandoit6.png" alt="" /> -->
      </div>
      <div class="job-container">
        <div class="job-title">
          <p>{{vacancy.VacancyName}}</p>
        </div>
        <div class="vacancies-date">
          <div class="box">
            <i class="icon-business"></i>
            <p>{{vacancy.NoOpenings}} Vacancies</p>
          </div>
          <div class="box">
            <i class="icon-calendar-6"></i>
            <p>
              {{vacancy.ClosingDate}}</p>
          </div>
        </div>
        <div class="interviews-buttons">
          <div class="box">
            <button class="custom-button" id="open-interview" (click)=loadAllVacancyInterviews()>
              <i class="icon-employees-f-m" id="open-modal"></i>
              Interviews
            </button>
          </div>
          <div class="box">
            <button class="custom-button" id="open-top-interview" (click)="loadInterviewsData()">
              <i class="icon-thumbs-up-1"></i>
              Top Interviews
            </button>
          </div>
        </div>
      </div>

      <div class="card-container" cdkDropListGroup cdkScrollable>
        <app-status-box class="drop-area" id="applied" status="Applied" [employeesList]="Applied"
          containerColor="container-red" (statusChange)="handleStatusChange($event)"
          (diqualifyChanged)="handleDisqualifyChange($event)" (openModalEvent)="handleOpenModalEvent($event)">
        </app-status-box>

        <app-status-box class="drop-area" id="shortlisted" status="Shortlisted" [employeesList]="Shortlisted"
          containerColor="container-orange" (statusChange)="handleStatusChange($event)"
          (diqualifyChanged)="handleDisqualifyChange($event)" (openModalEvent)="handleOpenModalEvent($event)">
        </app-status-box>

        <app-status-box class="drop-area" id="interviewed" status="Interviewed" [employeesList]="Interviewed"
          containerColor="container-yellow" (statusChange)="handleStatusChange($event)"
          (diqualifyChanged)="handleDisqualifyChange($event)" (openModalEvent)="handleOpenModalEvent($event)">
        </app-status-box>

        <app-status-box class="drop-area" id="offered" status="Offered" count="15" [employeesList]="Offered"
          containerColor="container-light-green" (statusChange)="handleStatusChange($event)"
          (diqualifyChanged)="handleDisqualifyChange($event)" (openModalEvent)="handleOpenModalEvent($event)">
        </app-status-box>

        <app-status-box class="drop-area" id="finalized" status="Finalized" count="5" [employeesList]="Finalized"
          containerColor="container-dark-green" (statusChange)="handleStatusChange($event)"
          (diqualifyChanged)="handleDisqualifyChange($event)" (openModalEvent)="handleOpenModalEvent($event)"> 
        </app-status-box>
      </div>

      <!--Start CV Modal -->

      <!-- End CV Model -->
       <!-- ////// -->
          <!--Start CV Modal -->
  <ion-modal id="cv-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
    <ng-template>
      <div class="model-container">
        <div class="cv-container">
          <div class="personal-profile">
            <div class="profile-photo">
              <img src="/assets/avatar.png" alt="Person's Photo" />
            </div>
            <div class="profile-info">
              <h1 class="profile-name">
                {{ApplicantProfile.FirstName}} {{ApplicantProfile.LastName}}
              </h1>
              <p class="profile-role">
                {{ ApplicantProfile.CurrentPosition }}
                <ng-container *ngIf="ApplicantProfile.CurrentCompany">
                  at {{ ApplicantProfile.CurrentCompany }}
                </ng-container>
              </p>

            </div>
          </div>
          <div class="personal-details">
            <!-- slider start -->
            <swiper-container (slidechange)="swiperSlideChanged($event)" [loop]="true" [pagination]="true">
              <swiper-slide>
                <div class="swiper-content">
                  <div class="box box-1">
                    <div class="icon-container">
                      <i class="icon-CPR my-color"></i>
                    </div>
                    <div class="text-container">
                      <p>National Identity</p>
                      <p>{{ApplicantProfile.NationalIdentity || '-'}}</p>
                    </div>
                  </div>
                  <div class="box box-2">
                    <div class="icon-container">
                      <i class="icon-passport my-color"></i>
                    </div>
                    <div class="text-container">
                      <p>Passport No.</p>
                      <p>{{ApplicantProfile.Passport || '-'}}</p>
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="swiper-content">
                  <div class="box box-1">
                    <div class="icon-container">
                      <i class="icon-gender my-color" style="font-size: 30px"></i>
                    </div>
                    <div class="text-container">
                      <p>Gender</p>
                      <p>{{ApplicantProfile.GenderName}}</p>
                    </div>
                  </div>
                  <div class="box box-2">
                    <div class="icon-container">
                      <i class="icon-ring my-color" style="font-size: 25px"></i>
                    </div>
                    <div class="text-container">
                      <p>Marital Status</p>
                      <p>{{ApplicantProfile.MaritalStatusName}}</p>
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <!-- only show if Applicant type is A -->
              <swiper-slide *ngIf="ApplicantionList?.length > 0 && ApplicantionList[0]?.ApplicantType === 'A'">
                <div class="swiper-content">
                  <div class="box box-2">
                    <div class="icon-container">
                      <i class="icon-location my-color"></i>
                    </div>
                    <div class="text-container">
                      <p>Current Location</p>
                      <p>{{ApplicantProfile.ResidenceCountryName}}</p>
                    </div>
                  </div>
                  <div class="box box-1">
                    <div class="icon-container">
                      <i class="icon-person my-color" style="font-size: 25px"></i>
                    </div>
                    <div class="text-container">
                      <p>No. of Dependents</p>
                      <p>{{ApplicantProfile.NumberOfDependent || '-'}}</p>
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <!-- only show if Applicant type is A -->
              <swiper-slide *ngIf="ApplicantionList[0]?.ApplicantType === 'A'">
                <div class="swiper-content">
                  <div class="box box-2">
                    <div class="icon-container">
                      <i class="icon-location my-color"></i>
                    </div>
                    <div class="text-container">
                      <p>LandLine</p>
                      <p>{{ApplicantProfile.LandLine || '-'}}</p>
                    </div>
                  </div>
                  <div class="box box-1">
                    <div class="icon-container">
                      <i class="icon-person my-color" style="font-size: 25px"></i>
                    </div>
                    <div class="text-container">
                      <p>Currency</p>
                      <p>{{ApplicantProfile.CurrencyFullName|| '-'}}</p>
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <!-- only show if Applicant type is A -->
              <swiper-slide *ngIf="ApplicantionList[0]?.ApplicantType === 'A'">
                <div class="swiper-content">
                  <div class="box box-2">
                    <div class="icon-container">
                      <i class="icon-location my-color"></i>
                    </div>
                    <div class="text-container">
                      <p>Current Salary</p>
                      <p>{{ApplicantProfile.CurrentSalary|| '-'}}</p>
                    </div>
                  </div>
                  <div class="box box-1">
                    <div class="icon-container">
                      <i class="icon-person my-color" style="font-size: 25px"></i>
                    </div>
                    <div class="text-container">
                      <p>Target Salary</p>
                      <p>{{ApplicantProfile.TargetSalary|| '-'}}</p>
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="swiper-content">
                  <div class="box box-1">
                    <div class="icon-container">
                      <i class="icon-calendar-6 my-color"></i>
                    </div>
                    <div class="text-container">
                      <p>Date of Birth</p>
                      <p>{{ApplicantProfile.DateOfBirth | fullDate}}</p>
                    </div>
                  </div>

                  <div class="box box-2">
                    <div class="icon-container">
                      <i class="icon-internet-stroke my-color"></i>
                    </div>
                    <div class="text-container">
                      <p>Nationality</p>
                      <p>{{ApplicantProfile.NationalityName}}</p>
                    </div>
                  </div>
                </div>
              </swiper-slide>
              <swiper-slide>
                <div class="swiper-content">
                  <div class="box box-1">
                    <div class="icon-container">
                      <i class="icon-Phone-01 my-color"></i>
                    </div>
                    <div class="text-container">
                      <p>Mobile</p>
                      <p>{{ApplicantProfile.Mobile}}</p>
                    </div>
                  </div>
                  <div class="box box-2">
                    <div class="icon-container">
                      <i class="icon-envelope my-color"></i>
                    </div>
                    <div class="text-container">
                      <p>Email</p>
                      <p>{{ApplicantProfile.Email}}</p>
                    </div>
                  </div>
                </div>
              </swiper-slide>
            </swiper-container>
            <!-- slider end -->
            <div class="divider"></div>
          </div>

          <div class="professional-summary">
            <div class="prof-summary-section experience">
              <p class="title">Experience</p>
              <div *ngIf="ExperienceList.length > 0; else noRecords">
                <div class="timeline">
                  <div class="timeline-item" *ngFor="let experience of ExperienceList">
                    <div class="timeline-dot"></div>
                    <div class="timeline-content">
                      <p class="timeline-title">{{experience.Position}}</p>
                      <time class="timeline-date">{{experience.StartDate | dateFormat}} to {{experience.EndDate |
                        dateFormat}}</time>
                      <p class="timeline-description">
                        {{experience.CompanyName}}, {{experience.Location}}
                      </p>
                    </div>
                  </div>
                </div>

              </div>
              <ng-template #noRecords>
                <div class="noRecords">
                  <i class="icon-document-search" style="font-size: 35px; color: #92a0b3;"></i>
                  <span style="font-size: 15px;">No Records</span>
                </div>
              </ng-template>
            </div>
            <div class="divider"></div>
            <div class="prof-summary-section education">
              <p class="title">Education</p>
              <div *ngIf="QualificationList.length > 0; else noRecords">
                <div class="timeline">
                  <div class="timeline-item" *ngFor="let qualification of QualificationList">
                    <div class="timeline-dot"></div>
                    <div class="timeline-content">
                      <p class="timeline-title">
                        {{qualification.Degree}} in {{qualification.Title}}
                      </p>
                      <time class="timeline-date" *ngIf="qualification.StatusName === 'Cleared'">
                        Cleared in {{ qualification.GraduateDate | dateFormat}}
                      </time>
                      <time class="timeline-date" *ngIf="qualification.StatusName === 'Ongoing'">
                        Ongoing {{ qualification.GraduateDate | dateFormat}}
                      </time>
                      <p class="timeline-description"></p>
                    </div>
                  </div>
                </div>

              </div>
              <ng-template #noRecords>
                <div class="noRecords">
                  <i class="icon-document-search" style="font-size: 35px; color: #92a0b3;"></i>
                  <span style="font-size: 15px;">No Records</span>
                </div>
              </ng-template>
            </div>
            <div class="divider"></div>
            <!-- Licenses section -->
            <div class="prof-summary-section education">
              <p class="title">Licenses & Certifications</p>
              <div *ngIf="CertificateList.length > 0; else noRecords">
                <div class="timeline">
                  <div class="timeline-item" *ngFor="let certificate of CertificateList">
                    <div class="timeline-dot"></div>
                    <div class="timeline-content">
                      <p class="timeline-title">
                        {{certificate.Name}}
                      </p>
                      <time class="timeline-date" *ngIf="certificate.ExpiryDate">
                        Expires in {{ certificate.ExpiryDate | dateFormat}}
                      </time>
                      <time class="timeline-date" *ngIf="!certificate.ExpiryDate">
                        Awarded in {{ certificate.AwardedDate | dateFormat }}
                      </time>
                      <p class="timeline-description"></p>
                    </div>
                  </div>
                </div>

              </div>
              <ng-template #noRecords>
                <div class="noRecords">
                  <i class="icon-document-search" style="font-size: 35px; color: #92a0b3;"></i>
                  <span style="font-size: 15px;">No Records</span>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </ion-modal>
  <!-- End CV Model -->

      <!-- Srart Answers Modal -->
      <ion-modal id="answers-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template>
          <div class="block">
            <h2>Answers</h2>
          </div>
        </ng-template>
      </ion-modal>
      <!-- End Answers Modal -->
    </ion-content>
  </div>
</ion-app>
<!-- applicants model start-->
<ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="modal-content">
      <div class="header">
        <div class="title">Applications</div>
        <div class="button-container">
          <button>Add</button>
        </div>
      </div>

      <div class="segment-list">
        <div class="segment-container">
          <ion-segment [(ngModel)]="option" mode="ios">
            <ion-segment-button value="Candidates">
              <ion-label>Candidates</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Recommended">
              <ion-label>Recommended</ion-label>
            </ion-segment-button>
            <ion-segment-button value="Employee">
              <ion-label>Employee</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>

        <!-- Candidates View -->
        <div class="list-container" *ngIf="option === 'Candidates'">
          <div *ngFor="let applicant of ApplicantList" class="list-item">
            <div><ion-checkbox></ion-checkbox></div>
            <div>
              <img class="item-img" src="/assets/avatar.png" alt="">
            </div>
            <div>
              <p class="name">{{applicant.FirstName}} {{applicant.LastName}}</p>
              <p class="nationality-position">{{applicant.Nationality}}, {{applicant.CurrentPosition}} at
                {{applicant.CurrentCompany}}</p>
            </div>
          </div>
        </div>

        <!-- Recommended View -->
        <div class="list-container" *ngIf="option === 'Recommended'">
          <div *ngFor="let applicant of BestFitApplicants" class="list-item">
            <div><ion-checkbox></ion-checkbox></div>
            <div>
              <img class="item-img" src="/assets/avatar.png" alt="">
            </div>
            <div>
              <p class="name">{{applicant.FirstName}} {{applicant.LastName}}</p>
              <p class="nationality-position">{{applicant.Nationality}}, {{applicant.CurrentPosition}} at
                {{applicant.CurrentCompany}}</p>
            </div>
          </div>
        </div>

        <!-- Employees View -->
        <div class="list-container" *ngIf="option === 'Employee'">
          <div *ngFor="let employee of EmployeeList" class="list-item">
            <div><ion-checkbox></ion-checkbox></div>
            <div>
              <img class="item-img" src="/assets/avatar.png" alt="">
            </div>
            <div>
              <p class="name">{{employee.Name}}</p>
              <p class="nationality">{{employee.NationalityName}}</p>
              <p class="position">{{employee.Position}}</p>
            </div>
          </div>
        </div>
      </div>


    </div>
  </ng-template>
</ion-modal>

<ion-modal trigger="open-interview" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="modal-content">
      <div class="header">
        <div class="title">Interviews</div>
        <div class="calendar-button-container">
          <!-- Calendar icon -->
          <button class="calendar-button" id="open-calendar" fill="clear" >
            {{displayMonthYear}}
            <i class="icon-Calendar" style="font-size: 20px; color:#92A0B3"></i>
          </button>
          <ion-modal #calendarModal trigger="open-calendar" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
            <ng-template>
                <app-calendar [startDate]="'2024-01-01'" 
                (dateSelected)="handleDateSelected($event)"
                 [endDate]="'2025-12-1'"
                 [isRange]="isRange"
                 [markedDates]="markedDates"
                 (selectButtonClicked)="onSelectButtonClicked()">
                 ></app-calendar>
            </ng-template>
          </ion-modal>
        </div>
      </div>
      <div class="content" >
        <div class="week-days">
          <button *ngFor="let day of weekDays" (click)="selectDay(day.day)" [class.active]="selectedDay === day.day">
            <p class="day-name">{{ day.day }}</p>
            <p class="day-date">{{ day.date }}</p>
          </button>
        </div>
        <div class="time-container" *ngIf="times[selectedDay] && times[selectedDay].length ; else noRecords">
          <div class="time-box" *ngFor="let time of times[selectedDay]">
            <div class="time">{{ time.time }}</div>
            <div class="people">
              <div class="box-people" *ngFor="let person of time.people">
                <div class="column column-image">
                  <img src="/assets/avatar.png" alt="Person Image">
                  <div class="likes-dislikes">
                    <div class="like">
                      <i class="icon-thumbs-up" style="color: #8ebe58; font-size:15px"></i>
                      <p>{{ person.ThumbsUp || '-'}}</p>
                    </div>
                    <div class="dislike">
                      <i class="icon-Thumbs-Down-Right-Side" style="color: #d52b45; font-size:15px"></i>
                      <p>{{ person.ThumbsDown || '-'}}</p>
                    </div>
                  </div>
                </div>
                <div class="column column-info">
                  <p class="name">{{ person.FirstName }} {{person.LastName}}</p>
                  <p class="nationality">{{ person.Nationality }}</p>
                  <p class="interview-type">{{ person.InterviewType }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>

        <ng-template #noRecords>
          <div class="noRecords">
            <i class="icon-document-search" style="font-size: 35px; color: #92a0b3;"></i>
            <span style="font-size: 15px;">No Records</span>
          </div>
        </ng-template>

      </div>
    </div>
  </ng-template>
</ion-modal>
<ion-modal #openTopInterview trigger="open-top-interview" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="modal-content">
      <div class="header">
        <div class="title">Interviews</div>
        <div class="button-container">
          <button>New Interviewee</button>
        </div>
      </div>
      <!-- applicant.page.html -->
      <div class="content-top-interview">
        <div class="interviewee-profile" (click)="openSelectModal()">
          <div class="profile" id="open-select-interviewee">
            <img src="/assets/avatar.png" style="width: 30px; border-radius: 50%;" alt="Profile">
            <p>{{SelectedApplicant.ApplicantName}}</p>
          </div>
          <i class="icon-Arrow-Chevron-Down" [ngClass]="{'icon-Arrow-Chevron-Up': showDropdown}"></i>
        </div>
        <!--  -->
        <div class="avg-rating">
          <div class="box-rating">
            <p>Average</p>
            <p>4.5</p>
          </div>
          <div class="box-rating">
            <p>overall</p>
            <img src="/assets/star.png" style="width: 100px; height:20px" alt="Star">
          </div>
        </div>
        <!-- only show  the results for the selected applicant  not all-->
        <div class="rating" *ngFor="let candidate of getFilteredInterviews()">
          <div class="profile">
            <img src="/assets/avatar.png" style="width: 50px; border-radius: 50%;" alt="Star">
            <p>{{candidate.FullName}}</p>
          </div>
          <div class="rating-details">
            <div class="box-rating" *ngFor="let ratingDetails of candidate.FeedbackCriteria">
              <p>{{ratingDetails.CriteriaTranslated}}</p>
              <img src="/assets/star.png" style="width: 100px; height: 20px;" alt="Star">
            </div>
            <div class="box-rating">
              <p>Average</p>
              <p>{{candidate.OverallFeedbackNoStars}}</p>
            </div>
            <div class="box-rating">
              <p>overall</p>
              <img src="/assets/star.png" style="width: 100px; height:20px" alt="Star">
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
<!-- applicants model end-->
<!-- select interviewee modal start-->
<ion-modal #openSelectInterviewee trigger="open-select-interviewee" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="modal-content">
      <div class="header">
        <!-- <i class="icon-Close-Cancel-X-remove"></i> -->
        <div class="title"> Select interviewee</div>
        <!-- <div class="button-container">
          <button> New Interviewee </button>
        </div> -->
      </div>
      <!-- applicant.page.html -->
      <div class="select-content-top-interview">
        <div class="interviewee-profile" *ngFor="let candidate of UniqueApplicantFromRaing"
          (click)="selectCandidate(candidate)">
          <div class="profile">
            <img src="/assets/avatar.png" style="width: 30px; border-radius: 50%;" alt="Profile">
            <p>{{candidate.ApplicantName}}</p>
          </div>
          <div class="rating">
            <img src="/assets/star.png" style="width: 100px; height:20px" alt="Star">
            <p>3.4</p>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
<!-- select interviewee modal end-->