<ion-content [fullscreen]="true">
    <div class="cv-container">
      <div class="personal-info-container">
        <!-- slider start -->
        <swiper-container
        (slidechange)="swiperSlideChanged($event)"
        [loop]="true"
        [pagination]="true">
          <swiper-slide>
            <div class="swiper-content">
              <div class="content-box">
                <div class="icon">
                 
                  <i class="icon-girls my-color"></i>
                </div>
                <div class="details">
                  <p>National Identity</p>
                  <p>951234545</p>
                </div>
              </div>
              
            </div>
          </swiper-slide>
          <swiper-slide>slide 2</swiper-slide>
          <swiper-slide>slide 3</swiper-slide>
        </swiper-container>
        <!-- slider end -->
      </div>
      <div class="section-container">
        <p class="title">Experience</p>
        <!-- start options -->
        <ol class="timeline">
          <li class="timeline-item">
            <div class="timeline-dot"></div>
            <h3 class="timeline-title">Frontend Web Development</h3>
            <time class="timeline-date">Jun 2019 to Feb 2020</time>
            <p class="timeline-description">The Cloud, Bahrain</p>
          </li>
          <li class="timeline-item">
            <div class="timeline-dot"></div>
            <h3 class="timeline-title">Frontend Web Development</h3>
            <time class="timeline-date">Jun 2019 to Feb 2020</time>
            <p class="timeline-description">The Cloud, Bahrain</p>
          </li>
        </ol>
  <button class="add-buttom">+ Add Experience</button>
        <!-- end optinos -->
      </div>
      <div class="section-container">
        <p class="title">Education</p>
        <ol class="timeline">
          <li class="timeline-item">
            <div class="timeline-dot"></div>
            <h3 class="timeline-title">Frontend Web Development</h3>
            <time class="timeline-date">Jun 2019 to Feb 2020</time>
            <p class="timeline-description">The Cloud, Bahrain</p>
          </li>
          <li class="timeline-item">
            <div class="timeline-dot"></div>
            <h3 class="timeline-title">Frontend Web Development</h3>
            <time class="timeline-date">Jun 2019 to Feb 2020</time>
            <p class="timeline-description">The Cloud, Bahrain</p>
          </li>
        </ol>
        <button class="add-buttom">+ Add Education</button>
      </div>
      <div class="section-container fixed-end">
        <p class="title">Licenses & Certifications</p>
        <ol class="timeline">
          <li class="timeline-item">
            <div class="timeline-dot"></div>
            <h3 class="timeline-title">Frontend Web Development</h3>
            <time class="timeline-date">Jun 2019 to Feb 2020</time>
            <p class="timeline-description">The Cloud, Bahrain</p>
          </li>
          <li class="timeline-item">
            <div class="timeline-dot"></div>
            <h3 class="timeline-title">Frontend Web Development</h3>
            <time class="timeline-date">Jun 2019 to Feb 2020</time>
            <p class="timeline-description">The Cloud, Bahrain</p>
          </li>
        </ol>
        <button class="add-buttom">+ Add Education</button>
      </div>
    </div>


</ion-content>
