<ion-content [fullscreen]="true">
  <div class="edit-employee-container">
    <div>
      <div class="top-container">
        <p>Edit Employee Information</p>
        <div class="edit-button">
          <p class="">Edit</p>
        </div>
      </div>
      <div class="employee-info-container">
        <div class="title">
          <p><span>company overview</span></p>
        </div>
        <!-- <img class="bordered-image" src="assets/youcandoit.jpeg" alt="You Can Do It"> -->
        <div class="employee-info-items">
          <div class="employee-info">
            <div class="box icon  my-icon">
              <!-- <img src="assets/ico-moon/Svg/passport.svg" alt=""> -->
              <i class="icon-passport icon-style"></i>
            </div>
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">National Identity</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you passport"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="employee-info">
            <div class="box icon  my-icon">
              <!-- <img src="assets/ico-moon/Svg/gender.svg" alt=""> -->
              <i class="icon-gender icon-style"></i>
            </div>
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">Gender</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you Gender"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="employee-info">
            <div class="box icon  my-icon">
              <!-- <img src="assets/ico-moon/Svg/ring.svg" alt=""> -->
              <i class="icon-ring icon-style"></i>
            </div>
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">Martial Status</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you passport"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="employee-info">
            <div class="box icon  my-icon">
              <!-- <img src="assets/ico-moon/Svg/passport.svg" alt=""> -->
              <i class="icon-person icon-style"></i>
            </div>
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">No. of Dependents</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you passport"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="employee-info">
            <div class="box icon  my-icon">
              <!-- <img src="assets/ico-moon/Svg/international.svg" alt=""> -->
              <i class="icon-internet-stroke icon-style"></i>
            </div>
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">Nationality</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you passport"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="employee-info">
            <div class="box icon  my-icon">
              <!-- <img src="assets/ico-moon/Svg/calander.svg" alt=""> -->
              <i class="icon-calendar-6 icon-style"></i>
            </div>
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">Date of Birth</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you passport"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="employee-info">
            <div class="box icon  my-icon">
              <!-- <img src="assets/ico-moon/Svg/calander.svg" alt=""> -->
              <i class="icon-location icon-style"></i>
            </div>
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">Current Location</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you passport"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="employee-info">
            <div class="box icon  my-icon">
              <!-- <img src="assets/ico-moon/Svg/calander.svg" alt=""> -->
              <i class="icon-telephone-2 icon-style"></i>
            </div>
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">Mobile</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you passport"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="employee-info">
            <div class="box icon  my-icon">
              <!-- <img src="assets/ico-moon/Svg/calander.svg" alt=""> -->
              <i class="icon-envelope icon-style"></i>
            </div>
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">Email</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you passport"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>