<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <ion-title>Employee Engagement</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="first-box">
      <img src="../assets/time.jpg" alt="">
      <div> 
        <button class="btn-primary" [routerLink]="['/second']">In</button>
        <button class="btn-primary">Out</button>
      </div>

    </div>
    <div class="second-box">
      <img src="../assets/options.jpg" alt="">
    </div>
  </div>
</ion-content>
