<div cdkScrollable>
  <div class="example-container" [id]="id">
    <div class="status" [ngClass]="containerColor">
      <p>
        {{ status }}
      </p>
    </div>
    <div class="count">
      <p [ngClass]="containerColor">
        {{ employeesList.length }}
      </p>
    </div>
    <div>
      <div cdkDropList [cdkDropListData]="employeesList" class="example-list" (cdkDropListDropped)="drop($event,'')" 
        cdkDropListSortingDisabled>
        <div *ngFor="let item of employeesList; let i = index">
          <div class="example-box" cdkDrag (cdkDragStarted)="onDragStarted($event)">
            <app-profile-card [id]="item.id" [name]="item.name" [avatar]="item.img" [nationality]="item.nationality" 
              [role]="item.role" [likeCount]="item.thumbsUp" [dislikeCount]="item.thumbsDown"
              [status]="item.status"
              [disqualified]="item.disqualified">
            </app-profile-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- show more options on drag -->

<!-- Disqualified box options -->
<div [class.drop-area2-hidden]="!showOptionsDisqualified" class="drop-area2" #dropzone1>
  <div class="drop-area-option" #dropZoneDisqualify>
    <img src="assets/icons/cross.svg" alt="" />
    <p>Disqualify</p>
  </div>
  <div class="drop-area-option" #dropZoneAnswer>
    <img src="assets/icons/answer.svg" alt="" />
    <p>Answer</p>
  </div>
</div>

<!-- Offered box options -->
<div [class.drop-area2-hidden]="!showOptionsOffered" class="drop-area2" #dropzone2>
  <div class="drop-area-option" #dropZoneOffer>
    <img src="assets/icons/cross.svg" alt="" />
    <p>Offer</p>
  </div>
</div>

<!-- Finalized box options -->
<div [class.drop-area2-hidden]="!showOptionsFinalized" class="drop-area2" #dropzone3>
  <div class="drop-area-option" #dropZoneFinalize>
    <img src="assets/icons/cross.svg" alt="" />
    <p>Finalize</p>
  </div>
  <div class="drop-area-option" #dropZoneReturn>
    <img src="assets/icons/cross.svg" alt="" />
    <p>Return</p>
  </div>
  <div class="drop-area-option" #dropZoneMessage>
    <img src="assets/icons/cross.svg" alt="" />
    <p>Message</p>
  </div>
</div>
