<ion-app>
  <ion-menu contentId="main-content">
    <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title>Menu Content</ion-title>
      </ion-toolbar>
    </ion-header>
  </ion-menu>
  <div class="ion-page" id="main-content">
    <ion-header>
      <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Menu</ion-title>
        <ion-buttons slot="end">
          <ion-button id="open-modal">Applications</ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content [fullscreen]="true">
      <div class="image">
        <!-- <img src="/assets/youcandoit6.png" alt="" /> -->
      </div>

      <div class="job-container">
        <div class="job-title">
          <p>Operations Officer</p>
        </div>
        <div class="vacancies-date">
          <div class="box">
            <i class="icon-business"></i>
            <p>Vacancies</p>
          </div>
          <div class="box">
            <i class="icon-calendar-6"></i>
            <p>28th February 2021</p>
          </div>
        </div>
        <div class="interviews-buttons">
          <div class="box">
            <button class="custom-button" id="open-inverview" (click)=loadAllVacancyInterviews()>
              <i class="icon-employees-f-m"></i>
              Interviews
            </button>
          </div>
          <div class="box">
            <button class="custom-button">
              <i class="icon-thumbs-up-1"></i>
              Top Interviews
            </button>
          </div>
        </div>
      </div>
      <div class="card-container" cdkDropListGroup cdkScrollable>
        <app-status-box class="drop-area" id="applied" status="Applied" [employeesList]="Applied"
          containerColor="container-red" (statusChange)="handleStatusChange($event)"
          (diqualifyChanged)="handleDisqualifyChange($event)" (openModalEvent)="handleOpenModalEvent($event)">
        </app-status-box>

        <app-status-box class="drop-area" id="shortlisted" status="Shortlisted" [employeesList]="Shortlisted"
          containerColor="container-orange" (statusChange)="handleStatusChange($event)"
          (diqualifyChanged)="handleDisqualifyChange($event)" (openModalEvent)="handleOpenModalEvent($event)">
        </app-status-box>

        <app-status-box class="drop-area" id="interviewed" status="Interviewed" [employeesList]="Interviewed"
          containerColor="container-yellow" (statusChange)="handleStatusChange($event)"
          (diqualifyChanged)="handleDisqualifyChange($event)" (openModalEvent)="handleOpenModalEvent($event)">
        </app-status-box>

        <app-status-box class="drop-area" id="offered" status="Offered" count="15" [employeesList]="Offered"
          containerColor="container-light-green" (statusChange)="handleStatusChange($event)"
          (diqualifyChanged)="handleDisqualifyChange($event)" (openModalEvent)="handleOpenModalEvent($event)">
        </app-status-box>

        <app-status-box class="drop-area" id="finalized" status="Finalized" count="5" [employeesList]="Finalized"
          containerColor="container-dark-green" (statusChange)="handleStatusChange($event)"
          (diqualifyChanged)="handleDisqualifyChange($event)" (openModalEvent)="handleOpenModalEvent($event)">
        </app-status-box>
      </div>

      <!--Start  CV Modal -->
      <ion-modal id="cv-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template>
          <div class="model-container">
            <div class="cv-container">
              <div class="personal-profile">
                <button class="edit-button">
                  <i class="icon-edit-2"></i>
                </button>
                <div class="profile-photo">
                  <img src="/assets/avatar.png" alt="Person's Photo" />
                </div>
                <div class="profile-info">
                  <h1 class="profile-name">Hussain Hasan</h1>
                  <p class="profile-role">
                    Frontend Web Development at The Cloud
                  </p>
                </div>
              </div>

              <div class="personal-details">
                <!-- slider start -->
                <swiper-container (slidechange)="swiperSlideChanged($event)" [loop]="true" [pagination]="true">
                  <swiper-slide>
                    <div class="swiper-content">
                      <div class="box box-1">
                        <div class="icon-container">
                          <i class="icon-CPR my-color"></i>
                        </div>
                        <div class="text-container">
                          <p>National Identity</p>
                          <p>192920302</p>
                        </div>
                      </div>
                      <div class="box box-2">
                        <div class="icon-container">
                          <i class="icon-passport my-color"></i>
                        </div>
                        <div class="text-container">
                          <p>Passport No.</p>
                          <p>192920302</p>
                        </div>
                      </div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="swiper-content">
                      <div class="box box-1">
                        <div class="icon-container">
                          <i class="icon-gender my-color" style="font-size: 30px"></i>
                        </div>
                        <div class="text-container">
                          <p>Gender</p>
                          <p>Male</p>
                        </div>
                      </div>
                      <div class="box box-2">
                        <div class="icon-container">
                          <i class="icon-ring my-color" style="font-size: 25px"></i>
                        </div>
                        <div class="text-container">
                          <p>Marital Status</p>
                          <p>Single</p>
                        </div>
                      </div>
                    </div>
                  </swiper-slide>

                  <swiper-slide>
                    <div class="swiper-content">
                      <div class="box box-1">
                        <div class="icon-container">
                          <i class="icon-person my-color" style="font-size: 25px"></i>
                        </div>
                        <div class="text-container">
                          <p>No. of Dependents</p>
                          <p>34434345</p>
                        </div>
                      </div>
                      <div class="box box-2">
                        <div class="icon-container">
                          <i class="icon-internet-stroke my-color"></i>
                        </div>
                        <div class="text-container">
                          <p>Nationality</p>
                          <p>Bahraini</p>
                        </div>
                      </div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="swiper-content">
                      <div class="box box-1">
                        <div class="icon-container">
                          <i class="icon-calendar-6 my-color"></i>
                        </div>
                        <div class="text-container">
                          <p>Date of Birth</p>
                          <p>12/6/2001</p>
                        </div>
                      </div>
                      <div class="box box-2">
                        <div class="icon-container">
                          <i class="icon-location my-color"></i>
                        </div>
                        <div class="text-container">
                          <p>Current Location</p>
                          <p>Bahrain</p>
                        </div>
                      </div>
                    </div>
                  </swiper-slide>
                  <swiper-slide>
                    <div class="swiper-content">
                      <div class="box box-1">
                        <div class="icon-container">
                          <i class="icon-Phone-01 my-color"></i>
                        </div>
                        <div class="text-container">
                          <p>Mobile</p>
                          <p>12321312</p>
                        </div>
                      </div>
                      <div class="box box-2">
                        <div class="icon-container">
                          <i class="icon-envelope my-color"></i>
                        </div>
                        <div class="text-container">
                          <p>Email</p>
                          <p>zeenaremoteapps.com</p>
                        </div>
                      </div>
                    </div>
                  </swiper-slide>
                </swiper-container>
                <!-- slider end -->
                <div class="divider"></div>
              </div>

              <div class="professional-summary">
                <div class="prof-summary-section experience">
                  <p class="title">Experience</p>
                  <ol class="timeline">
                    <li class="timeline-item">
                      <div class="timeline-dot"></div>
                      <h3 class="timeline-title">Frontend Web Development</h3>
                      <time class="timeline-date">Jun 2019 to Present</time>
                      <p class="timeline-description">The Cloud, Bahrain</p>
                    </li>
                    <li class="timeline-item">
                      <div class="timeline-dot"></div>
                      <h3 class="timeline-title">Frontend Web Development</h3>
                      <time class="timeline-date">Jun 2019 to Present</time>
                    </li>
                  </ol>
                  <button class="add-buttom">
                    <i class="icon-plus-sign-stroke" style="color: #92a0b3"></i>
                    Add Experience
                  </button>
                </div>
                <div class="divider"></div>

                <div class="prof-summary-section education">
                  <p class="title">Education</p>
                  <ol class="timeline">
                    <li class="timeline-item">
                      <div class="timeline-dot"></div>
                      <h3 class="timeline-title">Frontend Web Development</h3>
                      <time class="timeline-date">Jun 2019 to Present</time>
                      <p class="timeline-description">The Cloud, Bahrain</p>
                    </li>
                    <button class="add-buttom">
                      <i class="icon-plus-sign-stroke" style="color: #92a0b3"></i>
                      Add Education
                    </button>
                  </ol>
                </div>
                <div class="divider"></div>

                <div class="prof-summary-section education">
                  <p class="title">Education</p>
                  <ol class="timeline">
                    <li class="timeline-item">
                      <div class="timeline-dot"></div>
                      <h3 class="timeline-title">Frontend Web Development</h3>
                      <time class="timeline-date">Jun 2019 to Present</time>
                      <p class="timeline-description">The Cloud, Bahrain</p>
                    </li>
                    <button class="add-buttom">
                      <i class="icon-plus-sign-stroke" style="color: #92a0b3"></i>
                      Add Education
                    </button>
                  </ol>
                </div>
                <!-- Licenses section -->
                <div class="prof-summaryprof-summary licenses">
                  <!-- Content for licenses -->
                </div>
              </div>
            </div>
          </div>
        </ng-template>
      </ion-modal>
      <!-- End CV Model -->

      <!-- Srart Answers Modal -->
      <ion-modal id="answers-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
        <ng-template>
          <div class="block">
            <h2>Answers</h2>
          </div>
        </ng-template>
      </ion-modal>
      <!-- End Answers Modal -->
    </ion-content>
  </div>
</ion-app>
<!-- applicants model start-->
<ion-modal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="modal-content">
      <div class="header">
        <div class="title">Applications</div>
        <div class="button-container">
          <button>Add</button>
        </div>
      </div>
      <div class="segment-list">
        <div class="segment-container">
          <ion-segment value="buttons" mode="ios">
            <ion-segment-button value="default">
              <ion-label>Default</ion-label>
            </ion-segment-button>
            <ion-segment-button value="segment">
              <ion-label>Segment</ion-label>
            </ion-segment-button>
            <ion-segment-button value="buttons">
              <ion-label>Button</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
        <div class="list-container">
          <div class="list-item">
            <div><ion-checkbox></ion-checkbox></div>
            <div> <img class="item-img" src="/assets/avatar.png" alt=""></div>
            <div>
              <p class="name">Khalil Alrashed</p>
              <p class="nationality-position">Bahraini, Unemployment</p>
            </div>
          </div>
          <div class="list-item">
            <div><ion-checkbox></ion-checkbox></div>
            <div> <img class="item-img" src="/assets/avatar.png" alt=""></div>
            <div>
              <p class="name">Khalil Alrashed</p>
              <p class="nationality-position">Bahraini, Unemployment</p>
            </div>
          </div>
          <div class="list-item">
            <div><ion-checkbox></ion-checkbox></div>
            <div> <img class="item-img" src="/assets/avatar.png" alt=""></div>
            <div>
              <p class="name">Khalil Alrashed</p>
              <p class="nationality-position">Bahraini, Unemployment</p>
            </div>
          </div>
          <div class="list-item">
            <div><ion-checkbox></ion-checkbox></div>
            <div> <img class="item-img" src="/assets/avatar.png" alt=""></div>
            <div>
              <p class="name">Khalil Alrashed</p>
              <p class="nationality-position">Bahraini, Unemployment</p>
            </div>
          </div>
          <div class="list-item">
            <div><ion-checkbox></ion-checkbox></div>
            <div> <img class="item-img" src="/assets/avatar.png" alt=""></div>
            <div>
              <p class="name">Khalil Alrashed</p>
              <p class="nationality-position">Bahraini, Unemployment</p>
            </div>
          </div>
          <div class="list-item">
            <div><ion-checkbox></ion-checkbox></div>
            <div> <img class="item-img" src="/assets/avatar.png" alt=""></div>
            <div>
              <p class="name">Khalil Alrashed</p>
              <p class="nationality-position">Bahraini, Unemployment</p>
            </div>
          </div>
          <div class="list-item">
            <div><ion-checkbox></ion-checkbox></div>
            <div> <img class="item-img" src="/assets/avatar.png" alt=""></div>
            <div>
              <p class="name">Khalil Alrashed</p>
              <p class="nationality-position">Bahraini, Unemployment</p>
            </div>
          </div>
          <div class="list-item">
            <div><ion-checkbox></ion-checkbox></div>
            <div> <img class="item-img" src="/assets/avatar.png" alt=""></div>
            <div>
              <p class="name">Khalil Alrashed</p>
              <p class="nationality-position">Bahraini, Unemployment</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>

<ion-modal trigger="open-inverview" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="modal-content">
      <div class="header">
        <div class="title">Applications</div>
      </div>
      <div clss="content">
        <div class="week-days">
          <button *ngFor="let day of weekDays" (click)="selectDay(day.day)" [class.active]="selectedDay === day.day">
            <p class="day-name">{{ day.day }}</p>
            <p class="day-date">{{ day.date }}</p>
          </button>
        </div>
        <div class="time-container" *ngIf="times[selectedDay]">
          <div class="time-box" *ngFor="let time of times[selectedDay]">
            <div class="time">{{ time.time }}</div>
            <!-- Special case for 7:00 AM -->
            <ng-container *ngIf="time.time === '77:00 AM'">
              <div class="special-case">
                <img class="test-img" src="assets/youcandoit5.jpeg" alt="You Can Do It">
              </div>
            </ng-container>

            <!-- Normal case for other times -->
            <ng-container *ngIf="time.time !== '7:00 AM'">
              <div class="people">
                <div class="box-people" *ngFor="let person of time.people">
                  <div class="column column-image">
                    <img src="{{person.image}}" alt="Person Image">
                    <div class="likes-dislikes">
                      <div class="like">
                        <i class="icon-thumbs-up" style="color: #8ebe58; font-size:15px"></i>
                        <p>{{person.numberOfLikes}}</p>
                      </div>
                      <div class="dislike">
                        <i class="icon-Thumbs-Down-Right-Side" style="color: #d52b45; font-size:15px"></i>
                        <p>{{person.numberOfDislike}}</p>
                      </div>
                    </div>
                  </div>
                  <div class="column column-info">
                    <p class="name">{{ person.name }}</p>
                    <p class="nationality">{{ person.nationality }}</p>
                    <p class="interview-type">{{ person.interviewType }}</p>
                  </div>
                </div>

                <!-- Display a message if no interviews are scheduled -->
                <!-- <div *ngIf="!time.people.length" class="no-interviews">
            No interviews scheduled
          </div> -->
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</ion-modal>
<!-- applicants model end-->