<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>fourth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">fourth</ion-title>
    </ion-toolbar>
  </ion-header>
  <div>
</div>
  <div class="card-container" cdkDropListGroup cdkScrollable>
    <app-status-box class="drop-area" id="applied" status="Applied" [employeesList]="applied"
      containerColor="container-red" (statusChange)="handleStatusChange($event)"
      (diqualifyChanged)="handleDisqualifyChange($event)">
    </app-status-box>

    <app-status-box class="drop-area" id="shortlisted" status="Shortlisted" [employeesList]="shortlisted"
      containerColor="container-orange" (statusChange)="handleStatusChange($event)"
      (diqualifyChanged)="handleDisqualifyChange($event)">
    </app-status-box>

    <app-status-box class="drop-area" id="interviewed" status="Interviewed" [employeesList]="interviewed"
      containerColor="container-yellow" (statusChange)="handleStatusChange($event)"
      (diqualifyChanged)="handleDisqualifyChange($event)">
    </app-status-box>

    <app-status-box class="drop-area" id="offered" status="Offered" count="15" [employeesList]="offered"
      containerColor="container-light-green" (statusChange)="handleStatusChange($event)"
      (diqualifyChanged)="handleDisqualifyChange($event)">
    </app-status-box>

    <app-status-box class="drop-area" id="finalized" status="Finalized" count="5" [employeesList]="finalized"
      containerColor="container-dark-green" (statusChange)="handleStatusChange($event)"
      (diqualifyChanged)="handleDisqualifyChange($event)">
    </app-status-box>
  </div>

<!-- CV Modal -->
<ion-modal id="cv-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="block">
      Block of Content for CV
      user id: 564
    </div>
  </ng-template>
</ion-modal>

<!-- Answers Modal -->
<ion-modal id="answers-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
  <ng-template>
    <div class="block"
    >Block of Content for Answers
    user id: 545
  </div>
  </ng-template>
</ion-modal>

</ion-content>