<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="secondary">Confirm Location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-fab>
    <ion-fab-button>
      <ion-icon name="add" class="ion-margin" class="custom-fab" color="light"></ion-icon>
    </ion-fab-button>
  </ion-fab> -->


  <div class="parent-container">
    <div class="map-container">
      <div class="map" #map></div>
    </div>

    <div class="bottom-container">
      <button class="btn-primary" (click)="confirmLocation()">Confirm Location</button>
    </div>
  </div>







</ion-content>