<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="secondary">Confirm Location</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="buttons">
      <button class="btn left">
        <i class="icon-Arrow-Left"></i>
      </button>
      <button class="btn right" (click)="refreshPage()">
        <i class="icon-Refresh-Arrow-Circle"></i>
      </button>
    </div>
    <div class="map-container">
      <div class="map" #map></div>
    </div>

    <div class="bottom-container">
      <div class="center">
        <!-- Location is not found -->
        <div class="box" *ngIf="currentBox == 'notFound'">
          <!-- <div><i class="icon-Loading loading" style="color:  var(--cloudBlue); font-size: 30px;"></i></div> -->
          <img src="assets/images/spinner.gif" style="width: 40px;">
          <p>Trying to find your location on the map</p>
          <!-- <p>Location Accuracy is: {{ locationAccuracy }}</p> -->
        </div>
        <!-- not allowed to punch -->
        <div class="box" *ngIf="currentBox == 'notAllowed'">
          <div><i class="icon-location loading" style="color:  var(--cloudBlue); font-size: 25px;"></i></div>
          <p>You are not allowed to punch from this location</p>
          <p>Accurate to {{parseFloat(locationAccuracy) }} meters</p>
        </div>
        <!-- allow to punch -->
        <div class="box" *ngIf="currentBox == 'allowed'">
          <div><i class="icon-location loading" style="color:  var(--cloudBlue); font-size: 25px;"></i></div>
          <p>You are allowed to punch from this location</p>
          <p>Accurate to {{parseFloat( locationAccuracy )}} meters</p>
          <button class="btn-primary" (click)="confirmLocation()">Confirm Punch {{direct}}</button>
        </div>
      </div>
    </div>



  </div>
</ion-content>