.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: 100%;
  height: 100vh;
  /* Full height */
  overflow: hidden;


}

.bottom-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 13;
  bottom: 0px;
  width: 100%;
  padding: 12px;
  border-radius: 20px;

}

.center {
  padding: 16px;
  width: 100%;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 13px;
}


.box {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  z-index: 12;
  justify-content: center;
  gap: 5px;
}

.map-container {
  position: relative;
  height: 80%;
  flex: 3;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: transparent;
  opacity: 0;
  flex: 80%
}

.map.visible {
  opacity: 1;
}

.btn-primary {
  background-color: var(--cloudBlue);
  color: white;
  border-radius: 15px;
  width: 99%;
  font-size: 15px;
  box-shadow: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  height: 44px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
}


.buttons {
  position: absolute;
  top: 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  z-index: 10;
}

button {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 48px;
  width: 48px;
  background-color: white;
  border-radius: 7px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  color: #657084;

}

.box p:nth-of-type(1) {
  color: #657084;
  margin: 0px;
  font-weight: 500;
  margin: 6px;
  font-size: 18px;
  margin-top: 10px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;

}

.box p:nth-of-type(2) {
  color: var(--colors-text-text-placeholder-400, #98A2B3);
  text-align: center;
  
  /* Text/M/Text M Bold */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box p {
  margin: 0;
  /* Remove default margin of <p> tag */
  text-align: center;
  /* Center align text within the <p> tag */
  overflow-wrap: break-word;

  /* Ensure text wraps within the <p> tag */

}

