<!-- dropdown.component.html -->
<div class="dropdown-content">
  <div class="dropdown-option" (click)="selectOption('option1')">
    <img src="/assets/calendar.svg" alt="">
    <p>View Answer</p>
  </div>
  <div class="divider"></div>
  <div class="dropdown-option" (click)="selectOption('option2')">
    <img src="/assets/calendar.svg" alt="">
    <p>Calender</p>
  </div>
  <div class="divider"></div>
  <div class="dropdown-option" (click)="selectOption('option3')">
    <img src="/assets/calendar.svg" alt="">
    <p>View CV</p>
  </div>
  <div class="divider"></div>
  <div class="dropdown-option" (click)="selectOption('option3')">
    <img src="/assets/calendar.svg" alt="">
    <p>Option 3</p>
  </div>
</div>
