<ion-content [fullscreen]="true">
  <div class="edit-employee-container">
    <div>
      <div class="top-container">
        <p>Edit Employee Information</p>
        <div class="edit-button">
          <p class="">Edit</p>
        </div>
      </div>
      <div class="employee-info-container">
        <div class="title">
          <p><span>company overview</span></p>
        </div>
        <!-- <img class="bordered-image" src="assets/youcandoit.jpeg" alt="You Can Do It"> -->
        <div class="employee-info-items">
          <div class="employee-info">
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">National Identity</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you passport"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="employee-info">
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">Gender</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you Gender"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="employee-info">
            <div class="box input-container">
              <div class="inputsWrapper custom-inputsWrapper">
                <div class="inputBox my-input">
                  <div class="input-title gray-title custom-form-label">Martial Status</div>
                  <div class="text-input-gray">
                    <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you passport"></ion-input>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="employee-info-container">
        <div class="title">
          <p><span>Position Details</span></p>
        </div>
        <div class="employee-info">
          <div class="box input-container">
            <div class="inputsWrapper custom-inputsWrapper">
              <div class="inputBox my-input">
                <div class="input-title gray-title custom-form-label">Gender</div>
                <div class="text-input-gray">
                  <ion-input type="text" [(ngModel)]="Title" placeholder="Enter you Gender"></ion-input>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ion-content>

