<ion-content [fullscreen]="true">
  <!-- <app-week-days></app-week-days> -->

  <div class="week-days">
    <button *ngFor="let day of weekDays" 
            (click)="selectDay(day.day)" 
            [class.active]="selectedDay === day.day">
            <div>{{ day.day }}</div>
            <div>{{ day.date }}</div>
       
    </button>
  </div>
  <div class="time-container" *ngIf="times[selectedDay]">
    <div class="time-box" *ngFor="let time of times[selectedDay]">
      <div class="time">{{ time.time }}</div>
      
      <!-- Special case for 7:00 AM -->
      <ng-container *ngIf="time.time === '7:00 AM'">
        <div class="special-case">
          <img class="test-img" src="assets/youcandoit5.jpeg" alt="You Can Do It">
        </div>
      </ng-container>
      
      <!-- Normal case for other times -->
      <ng-container *ngIf="time.time !== '7:00 AM'">
        <div class="people">
          <div class="box-people" (click)="openModal()" *ngFor="let person of time.people">
            <div class="column column-image">
              <img src="{{person.image}}" alt="Person Image">
              <div class="likes-dislikes">
                <div class="like">
                  <i class="icon-thumbs-up" style="color: #8ebe58; font-size:15px"></i>
                  <p>{{person.numberOfLikes}}</p>
                </div>
                <div class="dislike">
                  <i class="icon-Thumbs-Down-Right-Side" style="color: #d52b45; font-size:15px"></i>
                  <p>{{person.numberOfDislike}}</p>
                </div>
              </div>
            </div>
            <div class="column column-info">
              <p class="name">{{ person.name }}</p>
              <p class="nationality">{{ person.nationality }}</p>
              <p class="interview-type">{{ person.interviewType }}</p>
            </div>
          </div>
          
          <!-- Display a message if no interviews are scheduled -->
          <!-- <div *ngIf="!time.people.length" class="no-interviews">
            No interviews scheduled
          </div> -->
        </div>
      </ng-container>
    </div>
  </div>
</ion-content>
