.week-days {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;

  button {
    padding: 10px;
    cursor: pointer;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #92a0b3;
  }

  button.active {
    background-color: #00abed;
    color: white;
    border-radius: 10px;
  }
}



.time-container {
  margin: 0 auto;
  max-width: 800px;
  /* Adjust as needed */
  background-color: #f7f8fa;
  border: 1px solid black;
  border-radius: 10px;
  margin: 20px;

  .time-box {
    display: flex;
    align-items: flex-start;
    // border: 1px solid #ccc; /* Optional: Add border */
    padding: 10px;
    /* Optional: Add padding */
    padding-bottom: 0px;
  }

  .time {
    // flex-grow: 1;
    // flex: 0 0 30%;
    color: #92a0b3;
  }

  .people {
    flex: 1;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-top: 1px solid rgb(219, 216, 216);
    margin: 0px;
  }

  .box-people {
    display: flex;
    align-items: flex-start;
    margin-bottom: 10px;
    background-color: white;
    border-radius: 10px;
    padding: 6px;
    color: #93a0b1;
    cursor: pointer;
    padding-top: 7px;
    padding-bottom: 17px;
  }

  .column {
    display: flex;
    flex-direction: column;
  }

  .column-image {
    flex: 1;
    /* Adjust if you want different column widths */
    align-items: center;
  }

  .column-image img {
    width: 45px;
    /* Adjust width as needed */
    height: 45px;
    /* Adjust height as needed */
    border-radius: 50%;
    /* Makes the image rounded */
    object-fit: cover;
    /* Ensures the image covers the area */
  }

  .likes-dislikes {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    /* Adjust spacing as needed */
    background-color: #f7f5f5;
    // width: 40px;
    margin: -10px;
    gap: 7px;
    flex-direction: row;
    padding: 2px;
    border-radius: 4px;
    font-size: 11px;
  }

  .likes-dislikes p {
    margin: 0px;
    /* Adjust spacing between likes and dislikes */
    color: #93a0b0;
  }

  .like,
  .dislike {
    display: flex;
    flex-direction: row;
  }

  .column-info {
    flex: 2;
    /* Adjust if you want different column widths */
    padding-left: 20px;
    /* Adjust spacing between columns */
    padding: 0px;
    margin: 0px;
    font-size: 13px;
  }

  .name,
  .nationality,
  .interview-type {
    margin: 0px;
    /* Adjust spacing between text elements */
  }
  .nationality{
    font-size: 10px;
  }

  .interview-type {
    background-color: #00abec;
    font-size: 10px;
    color: white;
    text-align: center;
    font-size: 12px;
    padding: 0px;
    border-radius: 3px;
    padding-top: 2px;
    padding-bottom: 2px;
    white-space: nowrap;
    display: inline;
    /* max-width: 160px; */
    width: fit-content;
    padding: 1px 9px 1px 9px;
    margin-top: 2px;
  }


  .no-interviews {
    color: #999;
    font-style: italic;
  }
}



.test-img {
  width: 290px;
  max-width: 100%;
}