<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">vacancies</ion-title>
    </ion-toolbar>
  </ion-header>
  <div class="search-segment-container">
    <!-- start search -->
    <!-- <div class="search">
      <i class="icon-search"></i>
      <p>search...</p>
    </div> -->
    <ion-searchbar mode="ios" color="light" placeholder="search"></ion-searchbar>
    <!-- start segment -->
    <ion-segment mode="md" value="custom">
      <ion-segment-button value="all">
        <ion-label>All</ion-label>
      </ion-segment-button>
      <ion-segment-button value="pending">
        <ion-label>Pending</ion-label>
      </ion-segment-button>
      <ion-segment-button value="rejected">
        <ion-label>Rejected</ion-label>
      </ion-segment-button>
      <ion-segment-button value="open">
        <ion-label>Open</ion-label>
      </ion-segment-button>
    </ion-segment>
    <!-- end segment -->
  </div>
  <div class="container">

    <!-- buttons -->
    <div class="button-wrapper">
      <button class="filter-button">
        <i class="icon-filter-1" style="color: #91a0b3;"></i>
        Filter
      </button>
      <button class="sort-button">
        <i class="icon-arrow-up-down" style="color: #91a0b3; font-weight: bolder;"></i>
        Sort
      </button>
    </div>
    <!-- end buttons -->

    <ion-button id="open-modal" expand="block">Open modal for calendar</ion-button>
    <ion-modal #calendarModal trigger="open-modal" [initialBreakpoint]="1" [breakpoints]="[0, 1]">
      <ng-template>
        <div *ngFor=" let mark of markedDates">my dafffff</div>
        <div class="block">
          <app-calendar [startDate]="'2024-01-01'" (dateSelected)="handleDateSelected($event)" [endDate]="'2024-5-20'"
            [isRange]="isRange" [marked]="markedDates"></app-calendar>
        </div>
      </ng-template>
    </ion-modal> 

    <!-- start job -->
    <div class="job-container" *ngFor="let vacancies of vacanciesList" [routerLink]="['/fourth', vacancies.VacancyID]">
      <div class="job-info">
        <div class="job-details">
          <div class="box job-icon">
            <i class="icon-employee-hire" style="color: #91a0b3; font-size: 25px;"></i>
          </div>
          <div class="box details">
            <p class="role-name text-ellipsis">{{vacancies.VacancyName}}</p>
            <div class="details-row">
              <p class="employment-type">{{vacancies.JobType}}</p>
              <p class="vacancies">{{vacancies.NoOpenings}} Vacancies</p>
            </div>
          </div>
          <div class="box dates">
            <p class="date">{{vacancies.ApprovedIn}}</p>
            <p class="date">{{vacancies.ClosingDate}}</p>
          </div>
        </div>
      </div>
      <div class="employee-info-container">
        <div class="employee-info">
          <div class="box img">
            <img src="https://web.remoteapps.com/image/EmployeeImages/9529.png" alt="Person's Photo" />
          </div>
          <div class="box name-role">
            <p class="role">Raised By</p>
            <p class="name">{{vacancies.RaisedBy | extractName}}</p>
          </div>
        </div>
        <div class="employee-info">
          <div class="box img">
            <img src="/assets/avatar.png" alt="Person's Photo" />
          </div>
          <div class="box name-role">
            <p class="role">Recruiter</p>
            <p class="name">{{vacancies.Recruiter | extractName}}</p>
          </div>
        </div>
      </div>
      <div class="summary-numbers">
        <button class="btn">{{vacancies.Applied || '0' }} Applied</button>
        <button class="btn">{{vacancies.Qualified}} Qualified</button>
        <button class="btn">{{vacancies.Shortlisted}} Shortlisted</button>
      </div>
    </div>

    <!-- end vacancies -->
  </div>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" style="margin-bottom: 40px;">
    <ion-fab-button color="primary" class="custom-fab-button">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>


</ion-content>